{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 3,
  "arrowParens": "avoid",
  "useTabs": true,
  "endOfLine": "crlf",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "jsxSingleQuote": false,
  "cursorOffset": -1,
  "quoteProps": "as-needed",
  "printWidth": 80,
  "overrides": [

  ]
}
